<header>
  <h1>Todo List ( {{$ctrl.incompleteCount}} )</h1>

  <label class="hide-completed">
   <input type="checkbox" ng-model="$ctrl.hideCompleted"/>
   Hide Completed Tasks
 </label>

 <form class="new-task" ng-submit="$ctrl.addTask($ctrl.newTask)">
    <label for="uname">New Task: </label>
   <input ng-model="$ctrl.newTask" type="text"
   name="text" placeholder="Type to add new tasks" required/>
   <span class="validity"></span>
 </form>

  <form class="new-task" ng-submit="$ctrl.addTask($ctrl.newDescription)">
     <label for="uname">New Description: </label>
    <input ng-model="$ctrl.newDescription" type="note"
    name="note" placeholder="Type to add new description" required/>
    <span class="validity"></span>
  </form>

</header>

<ul>
  <li ng-repeat="task in $ctrl.tasks" ng-class="{'checked': task.checked}">
    <button class="delete" ng-click="$ctrl.removeTask(task)">&times;</button>

    <input type="checkbox" ng-checked="task.checked"
    ng-click="$ctrl.setChecked(task)" class="toggle-checked"/>

    <span class="text">
      Submitted {{task.times}}: {{task.text}} ({{task.note}})
    </span>
  </li>
</ul>
